label {
  display: block;
  margin-top: 10px;
}
.card-container.card {
  max-width: 350px;
  padding: 40px 40px;
}
.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.margin-top-10 {
  margin-top: 10px;
}

.multi-color {
  text-align: center;
  font-size: 25px;
  background: linear-gradient(
    to left,
    blue,
    orange,
    green,
    violet,
    indigo,
    red
  );
  -webkit-background-clip: text;
  color: transparent;
}

table {
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 50px;
}

th,
td {
  text-align: left;
  font-weight: normal;
  padding: 8px;
  border: 1px solid #ddd;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  cursor: pointer;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  font-weight: normal;
}

.disable-button {
  background-color: #dddddd;
  color: #9d9696 !important;
}

.disable-icon {
  color: #9d9696;
}

.size-18 {
  font-size: 18px;
}

.size-25{
  font-size: 25px;
}

.canvas-paper {
  border: 1px solid black;
  cursor: pointer
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
